/*
* HackTX IV CSS File
* http://bit.ly/1ywfhq7
*/

/* Lato Google Font */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic);

/* Open Sans Google Font */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Guidea Google Font */
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #fbedd5;
  height: 100%;
}

#hero {
  width: 100%;
  /*border: 1px solid red;*/
  text-align: center;
}

#fb-btn {
  background: #5d75b2;
}

#gh-btn {
  background: black;
}

#tw-btn {
  background: #55acee;
}

#texas {
  max-width: 40em;
}

.button {
  margin: 1.5em .5em 1em .5em;
  width: 175px;
  height: 60px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);  
  border-radius: 7px; 
    
  border: 3px solid #1da8be;
  color: #1da8be; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.button:hover {
  background-color: #1da8be;
  color: #fbedd5;
  border-color: #1da8be;
}

.button:focus {
  color: #1da8be;
}

.date {
  color: #f06b69;
  font-size: 2em;
  letter-spacing: -1.5px;
}

.social-buttons {
  position: absolute;
  right: 0;
  top:0;
}

.social-buttons li {
  list-style: none;
  list-style-position: outside;
  padding: 10px;
}

.social-buttons a {
  text-decoration: none;
  color: #fbedd5;
}

.social-buttons a:hover {
  color: white;
}

.subtitle {
  color: #1da8be;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  letter-spacing: -.5px;
}

.title {
  font-size: 4em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #1da8be;
}