@font-face {
  font-family: 'Beba Neue Bold';
  src: url("./bebaneue/bebasneue-bold-webfont.woff2") format("woff2"), url("./bebaneue/bebasneue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Beba Neue';
  src: url("./bebaneue/bebasneue-regular-webfont.woff2") format("woff2"), url("./bebaneue/bebasneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Beba Neue Light';
  src: url("./bebaneue/bebasneue-light-webfont.woff2") format("woff2"), url("./bebaneue/bebasneue-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  margin: 0;
  padding: 0;
  background: #210D18;
  height: 100%;
  width: 100%; }

.parent-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.title {
  font-size: 200px;
  font-family: 'Beba Neue Bold';
  color: #FFFFFF;
  color: white; }

.heading {
  font-size: 72px;
  font-family: 'Beba Neue';
  color: #FFFFFF;
  color: white; }

.normal-text {
  font-size: 19px;
  line-height: 16.37px;
  font-family: 'Beba Neue';
  color: #FFFFFF;
  color: white; }

.contents {
  margin: 64px; }
  @media all and (min-width: 1024px) {
    .contents {
      display: flex; } }

@media all and (min-width: 1024px) {
  .content {
    width: 50%; } }

@media all and (max-width: 1024px) {
  .content {
    padding-top: 32px;
    width: 100%; } }

.content div {
  display: inline; }

.content img {
  width: 100%;
  height: 100%; }

.header {
  width: 100%; }

#maillist form {
  width: 100%;
  padding-top: 32px;
  display: flex; }
  #maillist form input {
    padding: 8px;
    font-size: 32px;
    font-family: "Beba Neue";
    background: #FFFFFF;
    color: #210D18; }
    #maillist form input:focus, #maillist form input:active {
      border-color: white;
      position: relative; }
  #maillist form .email {
    flex-grow: 1; }
