* {
  color: white;
}

.bg {
  height: 100vh;
  background: linear-gradient(230deg, #4bcf93, #4b79cf, #a24bcf);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradient 60s ease infinite;
  -moz-animation: BackgroundGradient 60s ease infinite;
  animation: BackgroundGradient 60s ease infinite;
}

.header {
  margin-bottom: -161px;
}

.logo {
  width: 15%;
  height: auto;
  margin-top: -10px;
}

.content {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.hacktx-logo {
  width: 100%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.teaser-text {
  font-size: 3em;
  text-align: center;
}

@-webkit-keyframes BackgroundGradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@-moz-keyframes BackgroundGradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes BackgroundGradient { 
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}