@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-height: 215px;
  overflow-x: auto;
  overflow-y: hidden; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: url("../assets/cursor.png"), auto; }

.stretch-bg {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-height: 575px) {
    .stretch-bg {
      width: calc(660vh + 4000px); } }

#superContentContainer {
  width: 100vw;
  height: 100vh;
  min-height: 215px;
  perspective: 1px;
  perspective-origin: 0px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#back-layer1 {
  background: url("../assets/starTile.png") repeat, #0b2135;
  background: url("../assets/starTile.png") repeat, -webkit-linear-gradient(left, #0b2135, #0f3857);
  background: url("../assets/starTile.png") repeat, -moz-linear-gradient(left, #0b2135, #0f3857);
  background: url("../assets/starTile.png") repeat, -o-linear-gradient(left, #0b2135, #0f3857);
  background: url("../assets/starTile.png") repeat, linear-gradient(to right, #0b2135, #0f3857);
  background-size: contain; }

#parallex {
  display: inline-flex;
  overflow: hidden; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    #parallex {
      transform: translateZ(-3px) scale(4);
      transform-origin: 0px 0px;
      -moz-transform: none;
      -moz-transform-origin: none; } }
  @supports (-ms-ime-align: auto) {
    #parallex {
      transform: translateZ(-3px) scale(4);
      transform-origin: 0px 0px; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #parallex {
      display: none; } }
  @media only screen and (max-height: 350px) {
    #parallex {
      display: none; } }
  @media only screen and (min-height: 1101px) {
    #parallex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto; } }
  #parallex div {
    width: 100%;
    height: 100%; }

#reg-parallax {
  background-image: url("../assets/parallax(FILLER).png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-height: 1101px) {
    #reg-parallax {
      display: none; } }

#large-parallax {
  display: none;
  background-image: url("../assets/parallax(FULL).png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 1200px; }
  @media only screen and (min-height: 1101px) {
    #large-parallax {
      display: block; } }

#contentContainer {
  display: inline-flex;
  height: 90%;
  position: absolute;
  max-height: 1000px; }

p {
  font-family: Poppins-Light, sans-serif;
  font-size: 18px;
  color: #f6f4d9; }
  @media only screen and (max-height: 685px) {
    p {
      font-size: 16px; } }
  @media only screen and (max-height: 575px) {
    p {
      font-size: 15px; } }
  @media only screen and (max-height: 485px) {
    p {
      font-size: 12px; } }
  @media only screen and (max-height: 350px) {
    p {
      font-size: 10px; } }

#landing {
  height: 100vh;
  max-height: 1000px; }
  #landing div {
    height: 100%; }

#landingShot {
  width: 95vw;
  min-width: 1000px;
  max-width: 2200px;
  height: 100%;
  display: inline-flex;
  justify-content: space-between; }
  @media only screen and (max-height: 575px) {
    #landingShot {
      min-width: 500px;
      max-width: 800px; } }
  @media only screen and (max-height: 485px) {
    #landingShot {
      min-width: 400px;
      max-width: 600px; } }

#animation {
  width: 50%;
  height: 46.582%;
  display: flex;
  align-items: center; }
  #animation #animation-spaceship {
    width: 18%;
    height: 50%;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: -30%;
    animation: rotateSpaceship 3s infinite ease-in-out,  moveSpaceshipVertical 5s infinite ease-in-out, moveSpaceshipHorizontal 7s infinite ease-in-out;
    background-image: url("../assets/spaceship.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

@keyframes rotateSpaceship {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-30deg); } }

@keyframes moveSpaceshipVertical {
  0% {
    margin-top: -30%; }
  50% {
    margin-top: -20%; }
  100% {
    margin-top: -30%; } }

@keyframes moveSpaceshipHorizontal {
  0% {
    margin-left: 8%;
    margin-right: 0%; }
  50% {
    margin-left: 2%;
    margin-right: 6%; }
  100% {
    margin-left: 8%;
    margin-right: 0%; } }
  #animation #animation-horse {
    width: 60%;
    margin-left: 5%;
    animation: rotateHorse 4s infinite ease-in-out;
    background-image: url("../assets/spacecowboy-horse.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

@keyframes rotateHorse {
  0% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-8deg); }
  100% {
    transform: rotate(10deg); } }

#event-title {
  width: 45%;
  max-width: 100vw;
  padding-top: 12vh;
  height: 85%; }
  #event-title div {
    margin-bottom: 16px; }
  #event-title #hacktxtitle {
    background-image: url("../assets/hacktxDate&Logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 50%; }
  #event-title #registerButton {
    background-image: url("../assets/RegisterButton.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left;
    height: 15%; }
    #event-title #registerButton:hover {
      background-image: url("../assets/RegisterButtonHover.png");
      cursor: url("../assets/cursor hover.png"), auto; }
  #event-title #arrow {
    width: 100%;
    max-height: 8%;
    display: flex;
    align-items: center;
    position: relative;
    animation: moveArrow 1.5s linear infinite; }
    #event-title #arrow #arrow-fire {
      width: 10%;
      transform-origin: right;
      animation: growFire 1.5s linear infinite;
      background-image: url("../assets/arrow-fire.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

@keyframes growFire {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1.2); } }
    #event-title #arrow #arrow-arrow {
      width: 40%;
      margin-left: -2%;
      background-image: url("../assets/arrow.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

@keyframes moveArrow {
  0% {
    left: -10%; }
  100% {
    left: 43%; } }

@media screen and (max-width: 1000px) {
  #event-title {
    width: 45%;
    padding-top: 5vh; } }

#rocket {
  width: 30vw;
  max-width: 250px;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: flex-end;
  padding-right: 200px; }
  @media only screen and (max-height: 575px) {
    #rocket {
      padding-right: 50px; } }
  #rocket div {
    background-image: url("../assets/rocket.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 70%;
    width: 100%; }

#title-container {
  height: 80%;
  max-height: 500px;
  display: flex;
  flex-direction: column; }

#registerButton:hover {
  display: block; }

#freetail-logo {
  position: absolute;
  left: 1vw;
  top: 1vh; }
  #freetail-logo img {
    height: 20vh;
    max-height: 120px;
    width: auto; }

#pinnacle-banner {
  position: fixed;
  right: 200px;
  top: 0px;
  z-index: 10000; }
  #pinnacle-banner img {
    height: 170px;
    width: auto; }

#schedule {
  display: inline-flex;
  height: 100%;
  margin-right: 400px; }
  @media only screen and (max-height: 575px) {
    #schedule {
      margin-right: 200px; } }

.schedule-day {
  width: 85vh;
  max-width: 850px;
  height: 100%; }
  @media only screen and (max-height: 575px) {
    .schedule-day {
      width: 100vh; } }

.bottom-day {
  display: flex;
  align-items: flex-end; }

#friday {
  background-image: url("../assets/Friday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#saturday {
  background-image: url("../assets/Saturday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#sunday {
  background-image: url("../assets/Sunday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#blurbs {
  display: inline-flex; }

.blurb-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 32px; }
  @media only screen and (max-height: 575px) {
    .blurb-container {
      justify-content: center; } }

.blurb-text {
  max-width: 95vw;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  background-color: #1c4862;
  border-radius: 50px;
  padding: 32px 32px 8px 24px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .blurb-text div {
    height: 90px; }
    @media only screen and (max-height: 685px) {
      .blurb-text div {
        height: 70px; } }
    @media only screen and (max-height: 575px) {
      .blurb-text div {
        height: 60px; } }
    @media only screen and (max-height: 485px) {
      .blurb-text div {
        height: 48px; } }
    @media only screen and (max-height: 350px) {
      .blurb-text div {
        height: 32px; } }
    .blurb-text div img {
      height: 100%; }

.bottom-blurb {
  justify-content: flex-end; }
  @media only screen and (max-height: 575px) {
    .bottom-blurb {
      justify-content: center; } }

.illustration {
  display: flex;
  flex: 1 1 auto; }
  @media only screen and (max-height: 485px) {
    .illustration {
      display: none; } }

#blurb-1 {
  width: 400px; }
  #blurb-1 .illustration {
    flex-direction: column;
    justify-content: center;
    padding: 2.5% 0; }
    #blurb-1 .illustration div {
      flex: 1 1 auto;
      width: 100%;
      background-image: url("../assets/Illustration_2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

#post {
  height: 100vh;
  width: 42.7vh;
  max-width: 427px;
  max-height: 1000px;
  position: relative; }
  #post div {
    background-image: url("../assets/wantedPoster.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: -5%;
    position: absolute;
    left: 0; }

#blurb-2 {
  width: 425px; }

#blurb-3 {
  height: 95vh;
  max-height: 950px;
  width: 475px; }
  @media only screen and (max-height: 833px) {
    #blurb-3 {
      width: 575px; } }
  #blurb-3 .blurb-text div {
    height: 135px; }
    @media only screen and (max-height: 685px) {
      #blurb-3 .blurb-text div {
        height: 105px; } }
    @media only screen and (max-height: 575px) {
      #blurb-3 .blurb-text div {
        height: 90px; } }
    @media only screen and (max-height: 485px) {
      #blurb-3 .blurb-text div {
        height: 72px; } }
    @media only screen and (max-height: 350px) {
      #blurb-3 .blurb-text div {
        height: 48px; } }
  #blurb-3 .illustration {
    flex-direction: column;
    justify-content: center;
    padding-top: 2.5%; }
    #blurb-3 .illustration div {
      flex: 1 1 auto;
      width: 100%;
      background-image: url("../assets/Illustration_3.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain; }

.link {
  color: #f6f4d9; }
  .link:hover {
    color: #a6f4e4;
    cursor: url("../assets/cursor hover.png"), auto; }

#blurb-4 {
  width: 425px; }
  #blurb-4 .blurb-text div {
    height: 45px; }
    @media only screen and (max-height: 685px) {
      #blurb-4 .blurb-text div {
        height: 35px; } }
    @media only screen and (max-height: 575px) {
      #blurb-4 .blurb-text div {
        height: 30px; } }
    @media only screen and (max-height: 485px) {
      #blurb-4 .blurb-text div {
        height: 24px; } }
    @media only screen and (max-height: 350px) {
      #blurb-4 .blurb-text div {
        height: 16px; } }
  #blurb-4 .illustration {
    flex-direction: column;
    justify-content: center;
    padding: 2.5% 0; }
    #blurb-4 .illustration div {
      flex: 1 1 auto;
      width: 100%;
      background-image: url("../assets/Illustration_1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

#faq {
  display: flex;
  flex-direction: column;
  margin: 0 400px;
  background-color: #0a2135;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 3px 3px black;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px black;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 16px 32px; }
  @media only screen and (max-height: 575px) {
    #faq {
      margin: 0 200px; } }
  @media only screen and (max-height: 485px) {
    #faq {
      padding: 16px 16px; } }

#faq-header {
  height: 100px;
  width: 100%; }
  @media only screen and (max-height: 575px) {
    #faq-header {
      height: 75px; } }
  @media only screen and (max-height: 485px) {
    #faq-header {
      height: 60px; } }
  @media only screen and (max-height: 350px) {
    #faq-header {
      height: 45px; } }
  #faq-header img {
    display: block;
    margin: 0 auto; }

#questions-container {
  height: calc(100% - 132px);
  margin-top: 32px;
  column-width: 464px;
  column-fill: auto; }
  @media only screen and (max-height: 485px) {
    #questions-container {
      height: calc(100% - 91px);
      margin-top: 16px; } }
  @media only screen and (max-height: 485px) {
    #questions-container {
      height: calc(100% - 61px); } }
  #questions-container p {
    text-align: justify;
    margin: 0;
    width: 400px;
    max-width: 90vw;
    margin: 8px 32px;
    margin-right: 32px; }
  #questions-container .answer {
    display: none;
    margin-bottom: 16px; }
  #questions-container .last-answer {
    margin-bottom: 0; }
  #questions-container .question {
    color: #a6f4e4;
    margin-top: 16px; }
    @media only screen and (max-height: 685px) {
      #questions-container .question {
        line-height: 16px; } }
    @media only screen and (max-height: 575px) {
      #questions-container .question {
        font-size: 18px;
        line-height: 20px; } }
    @media only screen and (max-height: 485px) {
      #questions-container .question {
        font-size: 16px;
        line-height: 16px;
        margin-top: 3vh; } }
    @media only screen and (max-height: 350px) {
      #questions-container .question {
        font-size: 12px;
        margin-top: 2vh; } }
    #questions-container .question:hover {
      transform: scale(1.05);
      cursor: url("../assets/cursor hover.png"), auto; }

#sponsors {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #sponsors div {
    height: 22%;
    width: 100%; }
    #sponsors div img {
      margin: 0 auto;
      display: block; }

#gif-sponsors, #static-sponsors {
  height: 78%;
  margin: auto; }

#gif-sponsors {
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #gif-sponsors {
      display: none; } }
  @media only screen and (max-height: 350px) {
    #gif-sponsors {
      display: none; } }

#static-sponsors {
  display: none; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #static-sponsors {
      display: block; } }
  @media only screen and (max-height: 350px) {
    #static-sponsors {
      display: block; } }
