$freetail-blue: #124e78;
$freetail-red: #e45243;

/* Josefin San Google Font */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic);

* {
	color: #EAF0CE;
	font-family: 'Josefin Sans', sans-serif;
}

.bg {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/cover.png) no-repeat fixed center;
	background-size: 100% 100%;
}

.header {
	margin-bottom: -161px;
}

.logo {
	width: 15%;
	height: auto;
	margin-top: -10px;
}

.content {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
}

.hacktx-logo {
	width: 100%;
	display: block;
	margin: auto;
	padding-bottom: 20px;
}

.teaser-text {
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;

	p {
		text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
	}
}

.title-buttons {
	background: #CE0019;
	transition: all 0.5s ease;
	border: none;
	border-radius: 3px;
	color: #EAF0CE;
	font-size: 2em;
	padding: 18px 5px;
	text-decoration: none !important;
	text-shadow: 0 0 0;
	&:hover {
		background: #e6001b;
		text-decoration: none;
		color: #EAF0CE;
	}
}

@media (max-width: 660px) {
	.teaser-text {
		font-size: 2em;
		text-align: center;
		margin-bottom: 20px;
	}

	.bg {
		height: 100vh;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/cover.png) no-repeat fixed center;
	}
}

@media (max-width: 480px) {
	.logo {
		width: 100px;
		margin: 0 auto;
		margin-top: -5px;
		margin-bottom: 24px;
	}
}

@-webkit-keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


@-moz-keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


@keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}