$gray: #4d4d4d;
$red: #ff4115;
$blue: #7ba8f9;
$darkblue: #4b78bb;
$white: white;

$fancy: bebas-neue, sans-serif;
$main: futura-pt, sans-serif;
$fontsize: 20px;

$smol: 680px;
$reallywide: 1200px;

body {
	font-family: $main;
	font-size: $fontsize;
	background: $gray;
	color: $white;
}

html, body {
	margin: 0;
}

h1, h2 {
	font-family: $fancy;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline wavy;
	&:hover {
		text-decoration: underline;
	}
}

$pad: 30px;
header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	display: flex;
	flex-direction: row;
	font-family: $fancy;
	font-size: 1.9em;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	z-index: 10;
	line-height: 1;
	.logo {
		a {
			text-decoration: none;
		}
		padding: 0 $pad;
		@media only screen and (max-width: $smol) {
			padding: 0 $pad/2;
		}
		flex: 1;
		display: flex;
		align-items: center;
		img {
			color: $red;
			display: block;
			height: 1.7em;
			transform: translateY(-0.05em);
			@media only screen and (max-width: $smol) {
				height: 1.4em;
				transform: translateY(0);
			}
		}
	}
	.countdown {
		display: flex;
		@media only screen and (max-width: $smol) {
			display: none;
		}
		flex-direction: row;
		color: $gray;
		align-items: center;
		.number {
			padding: 0 $pad/2;
			text-align: center;
			b, span {
				display: block;
				font-weight: normal;
			}
			b {
				font-size: 1.2em;
			}
			span {
				color: #999999;
				font-size: 0.6em;
			}
		}
		.colon {
			color: $red;
			transform: translateY(-0.3em);
		}
	}
	.cta {
		background: $red;
		color: $white;
		transition: 0.2s ease-in-out all;
		overflow: hidden;
		&:hover {
			background: darken($red, 10%);
			$shadows: ();
			$length: 70;
			@for $i from 1 through $length {
				$shadows: append($shadows, $i*1px $i*1px 0 lighten($red, 10%), 'comma');
			}
			text-shadow: $shadows;
		}
		padding: $pad $pad*2;
		@media only screen and (max-width: $smol) {
			padding: $pad/2 $pad;
		}
		text-decoration: none;
		margin-left: $pad;
	}
	@media only screen and (max-width: 400px) {
		.logo img {
			height: 1em;
		}
		.cta {
			font-size: 0.8em;
		}
	}
}

$headerheight: $pad*2 + $fontsize*1.9; // see header font-size
section, footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	background: $blue;
	.wrap {
		width: 100%;
		max-width: 600px;
		padding: 1em;
		box-sizing: border-box;
	}
	object {
		width: 450px;
	}
	h2 {
		padding: 0.4em 0;
		font-size: 3em;
	}
	@media only screen and (max-width: $smol) {
		flex-direction: column-reverse;
		font-size: 0.9em;
		.wrap {
			width: auto;
			padding: 2.5em;
		}
		object {
			max-width: 80%;
		}
		h2 {
			font-size: 2em;
		}
	}
}

#first {
	height: 100vh;
	margin: 0 0 -1*$headerheight 0;
	$stopat: 1100px;
	$titlesize: 4;
	font-size: $titlesize*1vw;
	position: relative;
	z-index: 3;
	background: none;
	@media only screen and (min-width: $stopat) {
		font-size: $stopat/100*$titlesize;
	}
	.wrap {
		position: relative;
		max-width: 20em;
		width: 100%;
		transform: translateY(-$headerheight/2);
	}
	h1 {
		img {
			color: $blue;
			font-size: 4em;
			height: 0.7em;
			display: block;
		}
		.year {
			text-align: right;
			float: right;
			margin-top: 0.15em;
		}
		@media only screen and (max-width: $smol) {
			img {
				width: 100%;
				height: auto;
			}
			&, .year {
				text-align: center;
			}
		}
	}
	.info {
		font-family: $fancy;
		line-height: 1.2;
		float: left;
		position: absolute;
		top: 52%;
		text-align: right;
		right: 12em;
		@media only screen and (max-width: $smol) {
			position: static;
			text-align: center;
			float: clear;
			font-size: 2em;
			padding-top: 0.6em;
			width: 100%;
		}
	}
	.location {
		display: block;
		text-decoration: none;
		color: inherit;
	}
	.message {
		position: absolute;
		top: 2em;
		@media only screen and (max-width: $smol) {
			top: auto;
			bottom: 8em;
		}
		left: 0;
		width: 100%;
		max-width: 360px;
		font-size: $fontsize;
		color: $white;
		line-height: 1;
		div {
			box-shadow: 0 4px 10px rgba(0,0,0,0.2);
			padding: 0.5em 1em;
			background: $darkblue;
			animation: slide-in 0.6s ease-out 1s;
			animation-fill-mode: backwards;
		}
		a {
			text-decoration: none;
		}
	}
}

@keyframes slide-in {
	from { transform: translateX(-100%) }
	to { transform: none }
}

#what {
	@media only screen and (max-width: $smol) {
		padding-top: 1.6em;
	}
}

#mailing {
	text-align: center;
	h2 {
		padding: 0.1em 0;
		@media only screen and (max-width: $smol) {
			margin: 0 -0.2em;
		}
	}
	form {
		display: flex;
		@media only screen and (max-width: $smol) {
			flex-direction: column;
		}
		margin-top: 3em;
		input {
			border: 2px solid $white;
			background: none;
			font-family: $fancy;
			font-size: inherit;
			padding: 0.5em;
			color: $white;
			display: block;
			-moz-appearance: none;
			-webkit-appearance: none;
			border-radius: 0;
			&::placeholder {
				color: $white;
				opacity: 1;
			}
			:-ms-input-placeholder {
				color: $white;
			}
			::-ms-input-placeholder {
				color: $white;
			}
		}
		.email {
			flex-grow: 1;
		}
		.submit {
			background: $white;
			color: $blue;
			padding: 0.5em 1em;
			transition: padding 0.2s ease-in-out;
			cursor: pointer;
			&:hover {
				padding: 0.5em 1.8em;
			}
			@media only screen and (max-width: $smol) {
				margin: 1em auto;
			}
		}
	}
}

#who {
	@media only screen and (max-width: $smol) {
		margin-top: -5em;
		object {
			margin-bottom: -5em;
		}
	}
}

#freetail {
	h2 {
		margin-right: -2em;
		@media only screen and (max-width: $smol) {
			margin-right: 0;
		}
	}
}

#faq {
	height: auto;
	padding-bottom: 5em;
	.wrap {
		max-width: $reallywide;
		padding: 1em 2.5em;
		width: 100%;
	}
	h2 {
		text-align: center;
	}
	.content {
		display: flex;
		flex-flow: wrap;
		margin: 1em -0.5em 0 -0.5em;
		.pair {
			width: 50%;
			box-sizing: border-box;
			padding: 0 0.5em;
			margin-bottom: 0.5em;
			h3 {
				cursor: pointer;
				text-transform: uppercase;
				font-weight: normal;
				margin: 0 0 0.5em 0;
				letter-spacing: 0.05em;
				&:after {
					content: "";
					display: inline-block;
					height: 0;
					width: 0;
					border: 0 solid transparent;
					border-width: 0.3em 0.5em;
					border-left-color: $red;
					margin-left: 0.4em;
					transform: rotate(90deg);
					transform-origin: 25% 50%;
					transition: 0.1s ease-in-out transform;
				}
			}
			&.collapsed {
				h3:after {
					transform: none;
				}
				p {
					display: none;
				}
			}
		}
	}
	@media only screen and (max-width: $smol) {
		h2 {
			text-align: left;
		}
		.content {
			display: block;
			.pair {
				width: auto;
			}
		}
	}
}

// footer
#us {
	background: $darkblue;
	height: auto;
	.wrap {
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		width: 100%;
		max-width: $reallywide;
		padding: 3em 2.5em;
		h2 {
			flex: 1;
			padding: 0;
		}
		h3 {
			margin: 0 0 0.5em 0;
			font-size: 1.1em;
		}
		div {
			margin-left: 5em;
		}
		a {
			display: block;
		}
		@media only screen and (max-width: $smol) {
			// flex-direction: column;
			h2 {
				flex: 1 100%;
			}
			div {
				margin-left: 0;
				margin-top: 2em;
				flex: 1 auto;
			}
		}
	}
}

// side dots
#progress {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0.8em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 5;
	opacity: 0.6;
	@media only screen and (max-width: $smol) {
		display: none;
	}
	div {
		cursor: pointer;
		display: block;
		width: 0.5em;
		height: 0.5em;
		margin: 0.2em auto;
		border-radius: 9em;
		border: 0.1em solid $white;
		&:first-child {
			border-radius: 0;
			width: 0.4em;
			height: 0.4em;
		}
		&.active {
			background: $white;
		}
	}
}

#mlh-trust-badge {
	display: block;
	max-width: 100px;
	min-width: 60px;
	position: absolute;
	right: 50px;
	top: 0;
	width: 10%;
	z-index: 10000;
	font-size: $fontsize;
	text-align: center;
	text-decoration: none;
	img {
		width: 100%;
	}
}
