@font-face {
    font-family: 'museo';
    src: url("../assets/fonts/Museo300-Regular.otf");
}
  
html, body{
    height: 100vh;
    width: 100vw;
    min-height: 215px;
    overflow-x: auto;
}

body{
    background: no-repeat fixed 5% 5%, url('../assets/title.png') no-repeat fixed 90% 50%, url('../assets/wave.png') no-repeat fixed, url('../assets/StarsHomepage.png') fixed;
    background-size: 7.5%, 55%, 50% 100%, 100%;
    background-color: #1c4862;
    margin: 0;
    font-family: Poppins-Light, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    cursor: url("../../assets/cursor.png"), auto; 
}

nav{
    display: flex;
    flex-direction: row;
}

nav > *{
    width: 100vw;
    height: 80px;
}

#freetail-logo {
    margin-left: 2vw;
    margin-top: 2vh;
    height: 10vh;
    max-height: 60px;
    width: auto;
}

nav ul{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li{
    font-family: museo;
    list-style-type: none;
    margin: 0 2vw;
}

a{
    text-decoration: none;
    font-size: 30px;
}

a:hover{
    color: white;
}

button{
    display: none;
}

td {
    padding-right: 10px;
    color: #004a68;
}

td a{
    text-decoration: none;
    color: #3C7EDD;
    font-size: 19px;
}

td a:hover{
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav a:hover{
    color: #e5bf89;
}

#text-header{
    font-family: museo;
    color: #2F3649;
    margin-top: -1050px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
}

#text-body{
    font-family: museo;
    color: #2F3649;
    margin-top: -370px;
    text-align: center;
    font-size: 100%;
    width: 100%;
    height: 1000px;
}

#report{
    margin-top: 150px;
    font-size: 19px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 15px;
    padding: 20px;
}
#rooms{
    margin-top: 50px;
    font-size: 19px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 15px;
    padding: 20px;

}
.info{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#scroll{
    display: block; margin-left: auto; margin-right: auto; width: 900px;
}
#titleLogo{
    margin-top: 30px; display: block; margin-left: auto; margin-right: auto; width: 900px;
}

@media only screen and (max-width: 1000px) {
    body{
        background: no-repeat fixed 5% 5%, url('../assets/title.png') no-repeat fixed 90% 50%, url('../assets/wave.png') no-repeat fixed, url('../assets/StarsHomepage.png') fixed;
        background-color: #034965;
        background-size: 7.5%, 55%, 50% 100%, 100%;
    }
    #scroll{
        margin-top: 5vw;
        width: 100vw;

        height: 100vw;
    }
    #titleLogo{
        width: 80vw;
    }
    button{
        display: block;
        margin-top: 1vh;
        margin-right: 1vw;
        font-size: 2vh;
        cursor: url("../../assets/cursor.png"), auto; 
    }
    
    nav > *{
        width: 100vw;
        height: 200px;
    
    }
    
    nav ul{
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
    }
    
    nav li{
      margin: 0;
      background-color: #37355b;
      padding: 10px;
      z-index: 100;
      width: 40%;
    }

    nav a{
      display: block;
      font-size: 18px;
    }

    #text-header{
        font-family: museo;

        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        width: 100%;
    }
    
    #text-body{
        font-family: museo;
        margin-top: -65vw;
        text-align: center;
        font-size: 2vw;
        width: 100%;
        height: 1000px;
    }

    td a{
        text-decoration: none;
        color: #3C7EDD;
        font-size: 3vw;
    }
    #report{
        margin-top: 30vw;
        font-size: 3vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 15px;
        padding: 20px;
    }

    #rooms{
        margin-top: 3vw;
        font-size: 3vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 15px;
        padding: 20px;
    
    }
    #report a{
        color: #3C7EDD;

    }
  }
