body {
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  background: #213e5b;
  color: white; }

html, body {
  margin: 0; }

h1, h2 {
  font-family: bebas-neue, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  margin: 0; }

p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: underline wavy; }
  a:hover {
    text-decoration: underline; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: row;
  font-family: bebas-neue, sans-serif;
  font-size: 1.9em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  line-height: 1; }
  header .logo {
    padding: 0 30px;
    flex: 1;
    display: flex;
    align-items: center; }
    header .logo a {
      text-decoration: none; }
    @media only screen and (max-width: 680px) {
      header .logo {
        padding: 0 15px; } }
    header .logo img {
      color: #ff4115;
      display: block;
      height: 1.7em;
      transform: translateY(-0.05em); }
      @media only screen and (max-width: 680px) {
        header .logo img {
          height: 1.4em;
          transform: translateY(0); } }
  header .countdown {
    display: flex;
    flex-direction: row;
    color: #4d4d4d;
    align-items: center; }
    @media only screen and (max-width: 680px) {
      header .countdown {
        display: none; } }
    header .countdown .number {
      padding: 0 15px;
      text-align: center; }
      header .countdown .number b, header .countdown .number span {
        display: block;
        font-weight: normal; }
      header .countdown .number b {
        font-size: 1.2em; }
      header .countdown .number span {
        color: #999999;
        font-size: 0.6em; }
    header .countdown .colon {
      color: #ff4115;
      transform: translateY(-0.3em); }
  header .cta {
    background: #ff4115;
    color: white;
    transition: 0.2s ease-in-out all;
    overflow: hidden;
    padding: 30px 60px;
    text-decoration: none;
    margin-left: 30px; }
    header .cta:hover {
      background: #e12a00;
      text-shadow: 1px 1px 0 #ff6a48, 2px 2px 0 #ff6a48, 3px 3px 0 #ff6a48, 4px 4px 0 #ff6a48, 5px 5px 0 #ff6a48, 6px 6px 0 #ff6a48, 7px 7px 0 #ff6a48, 8px 8px 0 #ff6a48, 9px 9px 0 #ff6a48, 10px 10px 0 #ff6a48, 11px 11px 0 #ff6a48, 12px 12px 0 #ff6a48, 13px 13px 0 #ff6a48, 14px 14px 0 #ff6a48, 15px 15px 0 #ff6a48, 16px 16px 0 #ff6a48, 17px 17px 0 #ff6a48, 18px 18px 0 #ff6a48, 19px 19px 0 #ff6a48, 20px 20px 0 #ff6a48, 21px 21px 0 #ff6a48, 22px 22px 0 #ff6a48, 23px 23px 0 #ff6a48, 24px 24px 0 #ff6a48, 25px 25px 0 #ff6a48, 26px 26px 0 #ff6a48, 27px 27px 0 #ff6a48, 28px 28px 0 #ff6a48, 29px 29px 0 #ff6a48, 30px 30px 0 #ff6a48, 31px 31px 0 #ff6a48, 32px 32px 0 #ff6a48, 33px 33px 0 #ff6a48, 34px 34px 0 #ff6a48, 35px 35px 0 #ff6a48, 36px 36px 0 #ff6a48, 37px 37px 0 #ff6a48, 38px 38px 0 #ff6a48, 39px 39px 0 #ff6a48, 40px 40px 0 #ff6a48, 41px 41px 0 #ff6a48, 42px 42px 0 #ff6a48, 43px 43px 0 #ff6a48, 44px 44px 0 #ff6a48, 45px 45px 0 #ff6a48, 46px 46px 0 #ff6a48, 47px 47px 0 #ff6a48, 48px 48px 0 #ff6a48, 49px 49px 0 #ff6a48, 50px 50px 0 #ff6a48, 51px 51px 0 #ff6a48, 52px 52px 0 #ff6a48, 53px 53px 0 #ff6a48, 54px 54px 0 #ff6a48, 55px 55px 0 #ff6a48, 56px 56px 0 #ff6a48, 57px 57px 0 #ff6a48, 58px 58px 0 #ff6a48, 59px 59px 0 #ff6a48, 60px 60px 0 #ff6a48, 61px 61px 0 #ff6a48, 62px 62px 0 #ff6a48, 63px 63px 0 #ff6a48, 64px 64px 0 #ff6a48, 65px 65px 0 #ff6a48, 66px 66px 0 #ff6a48, 67px 67px 0 #ff6a48, 68px 68px 0 #ff6a48, 69px 69px 0 #ff6a48, 70px 70px 0 #ff6a48; }
    @media only screen and (max-width: 680px) {
      header .cta {
        padding: 15px 30px; } }
  @media only screen and (max-width: 400px) {
    header .logo img {
      height: 1em; }
    header .cta {
      font-size: 0.8em; } }

section, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: #7ba8f9; }
  section .wrap, footer .wrap {
    width: 100%;
    max-width: 600px;
    padding: 1em;
    box-sizing: border-box; }
  section object, footer object {
    width: 450px; }
  section h2, footer h2 {
    padding: 0.4em 0;
    font-size: 3em; }
  @media only screen and (max-width: 680px) {
    section, footer {
      flex-direction: column-reverse;
      font-size: 0.9em; }
      section .wrap, footer .wrap {
        width: auto;
        padding: 2.5em; }
      section object, footer object {
        max-width: 80%; }
      section h2, footer h2 {
        font-size: 2em; } }

#first {
  height: 100vh;
  margin: 0 0 -98px 0;
  font-size: 4vw;
  position: relative;
  overflow: hidden;
  background: none; }
  #first .wrap {
    position: relative;
    max-width: 22em;
    width: 100%;
    transform: translateY(-49px) translateY(-2em) translateX(8%);
    padding: 0;
    z-index: 8; }
  #first .info {
    display: flex;
    font-family: bebas-neue, sans-serif;
    font-size: 0.8em;
    margin-right: 21%;
    margin-bottom: 0.5em; }
    #first .info .date {
      flex: 1; }
    #first .info .location {
      text-decoration: none; }
  #first h1 {
    position: relative;
    font-size: 0; }
    #first h1 .shadow {
      position: absolute;
      top: 99%;
      left: 0.1%;
      right: 0.4%;
      height: 900px;
      background: #7ba8f9;
      transform: skew(45deg);
      transform-origin: top left; }
  @media only screen and (max-width: 680px) {
    #first {
      font-size: 27.2px; }
      #first .location {
        display: none; } }
  @media only screen and (min-width: 1100px) {
    #first {
      font-size: 44px; } }
  #first .cityscape {
    position: absolute;
    bottom: 98px;
    left: 0;
    right: 0;
    z-index: 8;
    overflow: hidden;
    pointer-events: none; }
    #first .cityscape img {
      width: 1330px;
      max-width: 280%;
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
  #first .message {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    max-width: 360px;
    font-size: 20px;
    color: white;
    line-height: 1;
    z-index: 8; }
    @media only screen and (max-width: 680px) {
      #first .message {
        font-size: 16px;
        margin-right: 120px; } }
    #first .message div {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      padding: 0.5em 1em;
      background: #4b78bb;
      animation: slide-in 0.6s ease-out 1s;
      animation-fill-mode: backwards;
      word-wrap: break-word; }
    #first .message a {
      text-decoration: none; }
  #first .cover {
    background: #213e5b;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    width: 40px;
    z-index: 7; }

@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: none; } }

@media only screen and (max-width: 680px) {
  #what {
    padding-top: 1.6em; } }

#mailing {
  text-align: center; }
  #mailing h2 {
    padding: 0.1em 0; }
    @media only screen and (max-width: 680px) {
      #mailing h2 {
        margin: 0 -0.2em; } }
  #mailing form {
    display: flex;
    margin-top: 3em; }
    @media only screen and (max-width: 680px) {
      #mailing form {
        flex-direction: column; } }
    #mailing form input {
      border: 2px solid white;
      background: none;
      font-family: bebas-neue, sans-serif;
      font-size: inherit;
      padding: 0.5em;
      color: white;
      display: block;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0; }
      #mailing form input::placeholder {
        color: white;
        opacity: 1; }
      #mailing form input :-ms-input-placeholder {
        color: white; }
      #mailing form input ::-ms-input-placeholder {
        color: white; }
    #mailing form .email {
      flex-grow: 1; }
    #mailing form .submit {
      background: white;
      color: #7ba8f9;
      padding: 0.5em 1em;
      transition: color 0.3s ease-in-out, text-shadow 0.2s ease-in-out;
      cursor: pointer; }
      #mailing form .submit:hover {
        color: #4b78bb;
        text-shadow: 1px 1px 0 #dde8fd, 2px 2px 0 #dde8fd, 3px 3px 0 #dde8fd, 4px 4px 0 #dde8fd, 5px 5px 0 #dde8fd, 6px 6px 0 #dde8fd, 7px 7px 0 #dde8fd, 8px 8px 0 #dde8fd, 9px 9px 0 #dde8fd, 10px 10px 0 #dde8fd, 11px 11px 0 #dde8fd, 12px 12px 0 #dde8fd, 13px 13px 0 #dde8fd, 14px 14px 0 #dde8fd, 15px 15px 0 #dde8fd, 16px 16px 0 #dde8fd, 17px 17px 0 #dde8fd, 18px 18px 0 #dde8fd, 19px 19px 0 #dde8fd, 20px 20px 0 #dde8fd, 21px 21px 0 #dde8fd, 22px 22px 0 #dde8fd, 23px 23px 0 #dde8fd, 24px 24px 0 #dde8fd, 25px 25px 0 #dde8fd, 26px 26px 0 #dde8fd, 27px 27px 0 #dde8fd, 28px 28px 0 #dde8fd, 29px 29px 0 #dde8fd, 30px 30px 0 #dde8fd, 31px 31px 0 #dde8fd, 32px 32px 0 #dde8fd, 33px 33px 0 #dde8fd, 34px 34px 0 #dde8fd, 35px 35px 0 #dde8fd, 36px 36px 0 #dde8fd, 37px 37px 0 #dde8fd, 38px 38px 0 #dde8fd, 39px 39px 0 #dde8fd, 40px 40px 0 #dde8fd, 41px 41px 0 #dde8fd, 42px 42px 0 #dde8fd, 43px 43px 0 #dde8fd, 44px 44px 0 #dde8fd, 45px 45px 0 #dde8fd, 46px 46px 0 #dde8fd, 47px 47px 0 #dde8fd, 48px 48px 0 #dde8fd, 49px 49px 0 #dde8fd, 50px 50px 0 #dde8fd, 51px 51px 0 #dde8fd, 52px 52px 0 #dde8fd, 53px 53px 0 #dde8fd, 54px 54px 0 #dde8fd, 55px 55px 0 #dde8fd, 56px 56px 0 #dde8fd, 57px 57px 0 #dde8fd, 58px 58px 0 #dde8fd, 59px 59px 0 #dde8fd, 60px 60px 0 #dde8fd, 61px 61px 0 #dde8fd, 62px 62px 0 #dde8fd, 63px 63px 0 #dde8fd, 64px 64px 0 #dde8fd, 65px 65px 0 #dde8fd, 66px 66px 0 #dde8fd, 67px 67px 0 #dde8fd, 68px 68px 0 #dde8fd, 69px 69px 0 #dde8fd, 70px 70px 0 #dde8fd; }
      @media only screen and (max-width: 680px) {
        #mailing form .submit {
          margin: 1em auto; } }

@media only screen and (max-width: 680px) {
  #who {
    margin-top: -5em; }
    #who object {
      margin-bottom: -5em; } }

#who .isss {
  position: fixed;
  top: 0;
  right: 4em;
  width: 5em;
  color: #213e5b;
  background: white;
  padding: 0.6em;
  text-align: center;
  transform: translateY(-100%) translateY(-1.4em);
  transition: transform 0.3s ease-in-out; }
  #who .isss img {
    display: block;
    max-width: 100%;
    margin: 5em 0 1em 0; }
  #who .isss span {
    display: block;
    font-size: 0.8em; }
  #who .isss:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 0 solid transparent;
    border-width: 1.4em 3.1em;
    border-top-color: white; }

#who.visible .isss {
  transform: none; }

#preview {
  width: 1px;
  position: absolute;
  left: -9px; }

#freetail h2 {
  margin-right: -2em; }
  @media only screen and (max-width: 680px) {
    #freetail h2 {
      margin-right: 0; } }

#schedule {
  height: auto; }
  #schedule .wrap > div > div {
    overflow: hidden; }
  #schedule time {
    min-width: 100px;
    display: inline-block;
    margin-bottom: 1px;
    float: left; }
  #schedule span {
    display: inline-block;
    padding-left: 0.6em; }

#faq {
  height: auto;
  padding-bottom: 5em; }
  #faq .wrap {
    max-width: 1200px;
    padding: 1em 2.5em;
    width: 100%; }
  #faq h2 {
    text-align: center; }
  #faq .content {
    display: flex;
    flex-flow: wrap;
    margin: 1em -0.5em 0 -0.5em; }
    #faq .content .column {
      width: 50%;
      box-sizing: border-box;
      padding: 0 0.5em; }
    #faq .content .pair {
      margin-bottom: 0.5em; }
      #faq .content .pair h3 {
        cursor: pointer;
        font-family: bebas-neue, sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0 0 0.5em 0;
        letter-spacing: 0.05em; }
        #faq .content .pair h3:after {
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          border: 0 solid transparent;
          border-width: 0.3em 0.5em;
          border-left-color: #ff4115;
          margin-left: 0.4em;
          transform: rotate(90deg);
          transform-origin: 25% 50%;
          transition: 0.1s ease-in-out transform; }
        #faq .content .pair h3 em {
          font-style: normal;
          font-size: 0.6em;
          padding: 0.2em 0.4em;
          background: #4b78bb;
          line-height: 1;
          transform: translateY(-0.3em);
          display: inline-block;
          margin-right: 0.4em; }
      #faq .content .pair.collapsed h3:after {
        transform: none; }
      #faq .content .pair.collapsed p {
        display: none; }
  @media only screen and (max-width: 680px) {
    #faq h2 {
      text-align: left; }
    #faq .content {
      display: block; }
      #faq .content .column {
        width: auto; } }

#sponsors {
  height: auto;
  flex-direction: column;
  flex-flow: column wrap; }
  #sponsors .main {
    text-align: center; }
    #sponsors .main img {
      display: block;
      width: 100%;
      max-width: 300px;
      height: auto;
      margin: 1em auto; }
  #sponsors .more {
    font-size: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; }
  #sponsors .sponsor {
    width: 280px;
    height: 280px;
    float: left;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    margin: 10px; }
    #sponsors .sponsor .logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      display: inline-block;
      transition: all 0.3s ease-in-out; }
      #sponsors .sponsor .logo img {
        width: 100%;
        height: auto; }
      #sponsors .sponsor .logo span {
        font-size: 30px; }
    #sponsors .sponsor .description {
      position: absolute;
      width: 95%;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      opacity: 0;
      transition: all 50ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: scale(0) translate(-50%, -50%);
      transform-origin: left top;
      font-size: 20px; }
    #sponsors .sponsor.smaller .description {
      font-size: 16px; }
    #sponsors .sponsor.hastext:hover .logo {
      top: -30px;
      transform: scale(0.4) translateY(-50%); }
    #sponsors .sponsor.hastext:hover .description {
      opacity: 1;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: scale(1) translate(-50%, -50%); }

footer {
  background: #4b78bb;
  height: auto; }
  footer .wrap {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    padding: 3em 2.5em; }
    footer .wrap h2 {
      flex: 1;
      padding: 0;
      text-shadow: 1px 1px 0 #7ba8f9, 2px 2px 0 #7ba8f9, 3px 3px 0 #7ba8f9, 4px 4px 0 #7ba8f9, 5px 5px 0 #7ba8f9, 6px 6px 0 #7ba8f9, 7px 7px 0 #7ba8f9, 8px 8px 0 #7ba8f9, 9px 9px 0 #7ba8f9, 10px 10px 0 #7ba8f9, 11px 11px 0 #7ba8f9, 12px 12px 0 #7ba8f9, 13px 13px 0 #7ba8f9, 14px 14px 0 #7ba8f9, 15px 15px 0 #7ba8f9, 16px 16px 0 #7ba8f9, 17px 17px 0 #7ba8f9, 18px 18px 0 #7ba8f9, 19px 19px 0 #7ba8f9, 20px 20px 0 #7ba8f9, 21px 21px 0 #7ba8f9, 22px 22px 0 #7ba8f9, 23px 23px 0 #7ba8f9, 24px 24px 0 #7ba8f9, 25px 25px 0 #7ba8f9, 26px 26px 0 #7ba8f9, 27px 27px 0 #7ba8f9, 28px 28px 0 #7ba8f9, 29px 29px 0 #7ba8f9, 30px 30px 0 #7ba8f9, 31px 31px 0 #7ba8f9, 32px 32px 0 #7ba8f9, 33px 33px 0 #7ba8f9, 34px 34px 0 #7ba8f9, 35px 35px 0 #7ba8f9, 36px 36px 0 #7ba8f9, 37px 37px 0 #7ba8f9, 38px 38px 0 #7ba8f9, 39px 39px 0 #7ba8f9, 40px 40px 0 #7ba8f9, 41px 41px 0 #7ba8f9, 42px 42px 0 #7ba8f9, 43px 43px 0 #7ba8f9, 44px 44px 0 #7ba8f9, 45px 45px 0 #7ba8f9, 46px 46px 0 #7ba8f9, 47px 47px 0 #7ba8f9, 48px 48px 0 #7ba8f9, 49px 49px 0 #7ba8f9, 50px 50px 0 #7ba8f9, 51px 51px 0 #7ba8f9, 52px 52px 0 #7ba8f9, 53px 53px 0 #7ba8f9, 54px 54px 0 #7ba8f9, 55px 55px 0 #7ba8f9, 56px 56px 0 #7ba8f9, 57px 57px 0 #7ba8f9, 58px 58px 0 #7ba8f9, 59px 59px 0 #7ba8f9, 60px 60px 0 #7ba8f9, 61px 61px 0 #7ba8f9, 62px 62px 0 #7ba8f9, 63px 63px 0 #7ba8f9, 64px 64px 0 #7ba8f9, 65px 65px 0 #7ba8f9, 66px 66px 0 #7ba8f9, 67px 67px 0 #7ba8f9, 68px 68px 0 #7ba8f9, 69px 69px 0 #7ba8f9, 70px 70px 0 #7ba8f9, 71px 71px 0 #7ba8f9, 72px 72px 0 #7ba8f9, 73px 73px 0 #7ba8f9, 74px 74px 0 #7ba8f9, 75px 75px 0 #7ba8f9, 76px 76px 0 #7ba8f9, 77px 77px 0 #7ba8f9, 78px 78px 0 #7ba8f9, 79px 79px 0 #7ba8f9, 80px 80px 0 #7ba8f9, 81px 81px 0 #7ba8f9, 82px 82px 0 #7ba8f9, 83px 83px 0 #7ba8f9, 84px 84px 0 #7ba8f9, 85px 85px 0 #7ba8f9, 86px 86px 0 #7ba8f9, 87px 87px 0 #7ba8f9, 88px 88px 0 #7ba8f9, 89px 89px 0 #7ba8f9, 90px 90px 0 #7ba8f9, 91px 91px 0 #7ba8f9, 92px 92px 0 #7ba8f9, 93px 93px 0 #7ba8f9, 94px 94px 0 #7ba8f9, 95px 95px 0 #7ba8f9, 96px 96px 0 #7ba8f9, 97px 97px 0 #7ba8f9, 98px 98px 0 #7ba8f9, 99px 99px 0 #7ba8f9, 100px 100px 0 #7ba8f9, 101px 101px 0 #7ba8f9, 102px 102px 0 #7ba8f9, 103px 103px 0 #7ba8f9, 104px 104px 0 #7ba8f9, 105px 105px 0 #7ba8f9, 106px 106px 0 #7ba8f9, 107px 107px 0 #7ba8f9, 108px 108px 0 #7ba8f9, 109px 109px 0 #7ba8f9, 110px 110px 0 #7ba8f9, 111px 111px 0 #7ba8f9, 112px 112px 0 #7ba8f9, 113px 113px 0 #7ba8f9, 114px 114px 0 #7ba8f9, 115px 115px 0 #7ba8f9, 116px 116px 0 #7ba8f9, 117px 117px 0 #7ba8f9, 118px 118px 0 #7ba8f9, 119px 119px 0 #7ba8f9, 120px 120px 0 #7ba8f9, 121px 121px 0 #7ba8f9, 122px 122px 0 #7ba8f9, 123px 123px 0 #7ba8f9, 124px 124px 0 #7ba8f9, 125px 125px 0 #7ba8f9, 126px 126px 0 #7ba8f9, 127px 127px 0 #7ba8f9, 128px 128px 0 #7ba8f9, 129px 129px 0 #7ba8f9, 130px 130px 0 #7ba8f9, 131px 131px 0 #7ba8f9, 132px 132px 0 #7ba8f9, 133px 133px 0 #7ba8f9, 134px 134px 0 #7ba8f9, 135px 135px 0 #7ba8f9, 136px 136px 0 #7ba8f9, 137px 137px 0 #7ba8f9, 138px 138px 0 #7ba8f9, 139px 139px 0 #7ba8f9, 140px 140px 0 #7ba8f9, 141px 141px 0 #7ba8f9, 142px 142px 0 #7ba8f9, 143px 143px 0 #7ba8f9, 144px 144px 0 #7ba8f9, 145px 145px 0 #7ba8f9, 146px 146px 0 #7ba8f9, 147px 147px 0 #7ba8f9, 148px 148px 0 #7ba8f9, 149px 149px 0 #7ba8f9, 150px 150px 0 #7ba8f9, 151px 151px 0 #7ba8f9, 152px 152px 0 #7ba8f9, 153px 153px 0 #7ba8f9, 154px 154px 0 #7ba8f9, 155px 155px 0 #7ba8f9, 156px 156px 0 #7ba8f9, 157px 157px 0 #7ba8f9, 158px 158px 0 #7ba8f9, 159px 159px 0 #7ba8f9, 160px 160px 0 #7ba8f9, 161px 161px 0 #7ba8f9, 162px 162px 0 #7ba8f9, 163px 163px 0 #7ba8f9, 164px 164px 0 #7ba8f9, 165px 165px 0 #7ba8f9, 166px 166px 0 #7ba8f9, 167px 167px 0 #7ba8f9, 168px 168px 0 #7ba8f9, 169px 169px 0 #7ba8f9, 170px 170px 0 #7ba8f9, 171px 171px 0 #7ba8f9, 172px 172px 0 #7ba8f9, 173px 173px 0 #7ba8f9, 174px 174px 0 #7ba8f9, 175px 175px 0 #7ba8f9, 176px 176px 0 #7ba8f9, 177px 177px 0 #7ba8f9, 178px 178px 0 #7ba8f9, 179px 179px 0 #7ba8f9, 180px 180px 0 #7ba8f9, 181px 181px 0 #7ba8f9, 182px 182px 0 #7ba8f9, 183px 183px 0 #7ba8f9, 184px 184px 0 #7ba8f9, 185px 185px 0 #7ba8f9, 186px 186px 0 #7ba8f9, 187px 187px 0 #7ba8f9, 188px 188px 0 #7ba8f9, 189px 189px 0 #7ba8f9, 190px 190px 0 #7ba8f9, 191px 191px 0 #7ba8f9, 192px 192px 0 #7ba8f9, 193px 193px 0 #7ba8f9, 194px 194px 0 #7ba8f9, 195px 195px 0 #7ba8f9, 196px 196px 0 #7ba8f9, 197px 197px 0 #7ba8f9, 198px 198px 0 #7ba8f9, 199px 199px 0 #7ba8f9, 200px 200px 0 #7ba8f9, 201px 201px 0 #7ba8f9, 202px 202px 0 #7ba8f9, 203px 203px 0 #7ba8f9, 204px 204px 0 #7ba8f9, 205px 205px 0 #7ba8f9, 206px 206px 0 #7ba8f9, 207px 207px 0 #7ba8f9, 208px 208px 0 #7ba8f9, 209px 209px 0 #7ba8f9, 210px 210px 0 #7ba8f9, 211px 211px 0 #7ba8f9, 212px 212px 0 #7ba8f9, 213px 213px 0 #7ba8f9, 214px 214px 0 #7ba8f9, 215px 215px 0 #7ba8f9, 216px 216px 0 #7ba8f9, 217px 217px 0 #7ba8f9, 218px 218px 0 #7ba8f9, 219px 219px 0 #7ba8f9, 220px 220px 0 #7ba8f9, 221px 221px 0 #7ba8f9, 222px 222px 0 #7ba8f9, 223px 223px 0 #7ba8f9, 224px 224px 0 #7ba8f9, 225px 225px 0 #7ba8f9, 226px 226px 0 #7ba8f9, 227px 227px 0 #7ba8f9, 228px 228px 0 #7ba8f9, 229px 229px 0 #7ba8f9, 230px 230px 0 #7ba8f9, 231px 231px 0 #7ba8f9, 232px 232px 0 #7ba8f9, 233px 233px 0 #7ba8f9, 234px 234px 0 #7ba8f9, 235px 235px 0 #7ba8f9, 236px 236px 0 #7ba8f9, 237px 237px 0 #7ba8f9, 238px 238px 0 #7ba8f9, 239px 239px 0 #7ba8f9, 240px 240px 0 #7ba8f9, 241px 241px 0 #7ba8f9, 242px 242px 0 #7ba8f9, 243px 243px 0 #7ba8f9, 244px 244px 0 #7ba8f9, 245px 245px 0 #7ba8f9, 246px 246px 0 #7ba8f9, 247px 247px 0 #7ba8f9, 248px 248px 0 #7ba8f9, 249px 249px 0 #7ba8f9, 250px 250px 0 #7ba8f9, 251px 251px 0 #7ba8f9, 252px 252px 0 #7ba8f9, 253px 253px 0 #7ba8f9, 254px 254px 0 #7ba8f9, 255px 255px 0 #7ba8f9, 256px 256px 0 #7ba8f9, 257px 257px 0 #7ba8f9, 258px 258px 0 #7ba8f9, 259px 259px 0 #7ba8f9, 260px 260px 0 #7ba8f9; }
    footer .wrap h3 {
      margin: 0 0 0.5em 0;
      font-size: 1.1em; }
    footer .wrap div {
      margin-left: 5em; }
    footer .wrap a {
      display: block; }
    @media only screen and (max-width: 680px) {
      footer .wrap h2 {
        flex: 1 100%; }
      footer .wrap div {
        margin-left: 0;
        margin-top: 2em;
        flex: 1 auto; } }

#progress {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  opacity: 0.6; }
  @media only screen and (max-width: 680px) {
    #progress {
      display: none; } }
  #progress div {
    cursor: pointer;
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em auto;
    border-radius: 9em;
    border: 0.1em solid white; }
    #progress div:first-child {
      border-radius: 0;
      width: 0.4em;
      height: 0.4em; }
    #progress div.active {
      background: white; }

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
  font-size: 20px;
  text-align: center;
  text-decoration: none; }
  #mlh-trust-badge img {
    width: 100%; }
  @media only screen and (max-width: 680px) {
    #mlh-trust-badge {
      right: 30px; } }

#register {
  text-align: center; }

#register .button {
  font-family: bebas-neue, sans-serif;
  font-size: 1.9em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  display: block;
  background: #ff4115;
  color: white;
  transition: 0.2s ease-in-out all;
  overflow: hidden;
  padding: 0.5em 1em;
  text-decoration: none;
  margin-left: 120px;
  margin-right: 120px; }
  #register .button:hover {
    background: #e12a00;
    text-shadow: 1px 1px 0 #ff6a48, 2px 2px 0 #ff6a48, 3px 3px 0 #ff6a48, 4px 4px 0 #ff6a48, 5px 5px 0 #ff6a48, 6px 6px 0 #ff6a48, 7px 7px 0 #ff6a48, 8px 8px 0 #ff6a48, 9px 9px 0 #ff6a48, 10px 10px 0 #ff6a48, 11px 11px 0 #ff6a48, 12px 12px 0 #ff6a48, 13px 13px 0 #ff6a48, 14px 14px 0 #ff6a48, 15px 15px 0 #ff6a48, 16px 16px 0 #ff6a48, 17px 17px 0 #ff6a48, 18px 18px 0 #ff6a48, 19px 19px 0 #ff6a48, 20px 20px 0 #ff6a48, 21px 21px 0 #ff6a48, 22px 22px 0 #ff6a48, 23px 23px 0 #ff6a48, 24px 24px 0 #ff6a48, 25px 25px 0 #ff6a48, 26px 26px 0 #ff6a48, 27px 27px 0 #ff6a48, 28px 28px 0 #ff6a48, 29px 29px 0 #ff6a48, 30px 30px 0 #ff6a48, 31px 31px 0 #ff6a48, 32px 32px 0 #ff6a48, 33px 33px 0 #ff6a48, 34px 34px 0 #ff6a48, 35px 35px 0 #ff6a48, 36px 36px 0 #ff6a48, 37px 37px 0 #ff6a48, 38px 38px 0 #ff6a48, 39px 39px 0 #ff6a48, 40px 40px 0 #ff6a48, 41px 41px 0 #ff6a48, 42px 42px 0 #ff6a48, 43px 43px 0 #ff6a48, 44px 44px 0 #ff6a48, 45px 45px 0 #ff6a48, 46px 46px 0 #ff6a48, 47px 47px 0 #ff6a48, 48px 48px 0 #ff6a48, 49px 49px 0 #ff6a48, 50px 50px 0 #ff6a48, 51px 51px 0 #ff6a48, 52px 52px 0 #ff6a48, 53px 53px 0 #ff6a48, 54px 54px 0 #ff6a48, 55px 55px 0 #ff6a48, 56px 56px 0 #ff6a48, 57px 57px 0 #ff6a48, 58px 58px 0 #ff6a48, 59px 59px 0 #ff6a48, 60px 60px 0 #ff6a48, 61px 61px 0 #ff6a48, 62px 62px 0 #ff6a48, 63px 63px 0 #ff6a48, 64px 64px 0 #ff6a48, 65px 65px 0 #ff6a48, 66px 66px 0 #ff6a48, 67px 67px 0 #ff6a48, 68px 68px 0 #ff6a48, 69px 69px 0 #ff6a48, 70px 70px 0 #ff6a48; }
  @media only screen and (max-width: 680px) {
    #register .button {
      margin-left: 30px;
      margin-right: 30px; } }
