@font-face {
    font-family: 'Poppins-Light';
    src: url("../../fonts/Poppins-Regular.ttf") format("truetype"); 
}
  
html, body{
    height: 100vh;
    width: 100vw;
    min-height: 215px;
    overflow-x: auto;
}

body{
    background-image: url("../assets/starsGeneral.png");
    background-color: #1c4862;
    margin: 0;
    font-family: Poppins-Light, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    cursor: url("../../assets/cursor.png"), auto; 
}

nav{
    display: flex;
    flex-direction: row;
}

nav > *{
    width: 100vw;
    height: 80px;
}

#freetail-logo {
    margin-left: 1vw;
    margin-top: 1vh;
    height: 20vh;
    max-height: 120px;
    width: auto;
}

nav ul{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li{
    list-style-type: none;
    margin: 0 2vw;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav a:hover{
    color: #ed2a41;
}

button{
    display: none;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.general{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.general-header{
    padding-top: 80px;
    width: auto;
    height: 70px;
    margin: 0 auto;
}

.extra-header{
    padding-top: 80px;
    width: auto;
    height: 70px;
    margin: 0 auto;
}

.general-bg{
    width: min(80%, 900px);
    margin: 50px auto;
    height: 800px;
}

.general-bg rect{
    height: 100%;
    fill: #F7896F;
}

.companies, .events {
    background-color: #F7896F;
    width: min(80%, 900px);
    margin: 50px auto;
    color: white;
    padding-top: 70px;
}

.eventsWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: flex-start;
}

.eventColumn {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.event {
    background: rgb(255, 245, 255);
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 5px;
}

.event h1 {
    font-size: 18px;
    font-weight: bold;
}

.event h2 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.smallEvent {
    background: rgb(255, 245, 255);
    color: black;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 50%;
    padding: 2px;
}

.smallEvent h1{
    font-size: 14px;
}

.smallEvent h2 {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}

.eventRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.speaker {
    background-color: pink;
}

.careerfair {
    background-color: rgb(71, 197, 255);
}

.funevent {
    background-color: #1c4862;
    color: white;
}

.beginner {
    background-color: rgb(228, 95, 95);
}

.milestone {
    background-color: rgba(255, 241, 43, 0.842);
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: flex-start;
}

.company{
    width: 390px;
    margin: 0 auto;
}

.company-instabase{
    width: 500px;
}

.company img{
    width: 360px;
    height: auto;
    padding: 20px 0;
}

.company-instabase img{
    width: 500px;
    margin: 0 auto;
}

.company-microsoft img{
    padding: 0;
}

.company-pwc img{
    width: 200px;
    margin-left: 80px;
}

.company-chevron img{
    padding: 0;
}

.company p{
    font-size: 14px;
}

.challenges{
    background-color: #F7896F;
    width: min(80%, 900px);
    margin: 50px auto;
    color: white;
    padding-top: 30px;
}

.challenge h1{
    font-size: 25px;
    padding: 0 75px;
    text-transform: uppercase;
}

.challenge h2 {
    font-size: 18px;
    padding: 0 75px;
    font-style: italic;
}

.challenge p{
    font-size: 16px;
    padding: 0 75px;
    padding-bottom: 30px;
}

.challenge a{
    color: rgb(158, 67, 25);
}

.faqq{
    background-color: #F7896F;
    width: min(80%, 900px);
    margin: 50px auto;
    color: white;
    padding-top: 30px;
}

.faq h1{
    font-size: 25px;
    padding: 0 75px;
}

.faq p{
    font-size: 16px;
    padding: 0 75px;
    padding-bottom: 30px;
}

.schedulenotes {
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
}

.dayheader {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
}


.square {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.legend {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    padding-bottom: 50px;
}

.legend-key {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

@media only screen and (max-width: 1000px) {
    button{
        display: block;
        margin-top: 1vh;
        margin-right: 1vw;
        font-size: 2vh;
        cursor: url("../../assets/cursor.png"), auto; 
    }
    
    nav > *{
        width: 100vw;
        height: 100px;
    }
    
    nav ul{
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
    }
    
    nav li{
      margin: 0;
      margin-right: 1vw;
    }

    nav a{
      display: block;
      font-size: 18px;
    }

    .general-header{
        margin-top: 0px;
        width: 80%;
        height: auto;
    }

    .extra-header{
        margin-top: 0px;
        width: 50%;
        height: auto;
    }

    .row{
        flex-direction: column;
    }

    .company{
        width: 300px;
        margin: 0 auto;
    }

    .company img{
        width: 270px;
    }
}