$color-stops: #0b2135, #0f3857;
$whiteText: #f6f4d9;
$blueText: #a6f4e4;
$translateOrigin: 0px 0px;
$largebp: 832px;
$mediumbp: 685px;
$smallbp: 575px;
$xsmallbp: 485px;
$xxsmallbp: 350px;

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

@mixin breakpoint($media) {
	@if $media == large {
		@media only screen and (max-height: $largebp + 1) { @content; }
	} @else if $media == medium {
		@media only screen and (max-height: $mediumbp) { @content; }
	} @else if $media == small {
		@media only screen and (max-height: $smallbp) {@content; }
	} @else if $media == xsmall {
		@media only screen and (max-height: $xsmallbp) {@content; }
    } @else if $media == xxsmall {
		@media only screen and (max-height: $xxsmallbp) {@content; }
    }
}


@mixin shadow($alpha) {
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0, $alpha);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 3px rgba(0,0,0,$alpha);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 3px 3px rgba(0,0,0,$alpha);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ 
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.stretch-bg {
    height: 100vh;
    width: calc(660vh + 4400px);
    max-width: calc(440vh + 6400px);
    @include breakpoint(small) {width: calc(660vh + 4000px);}
    @include breakpoint(xxsmall) {width: calc(660vh + 4000px);};
    position: absolute;
    top: 0;
    left: 0;
}

#superContentContainer {
    width: 100vw;
    height: 100vh;
    perspective: 1px;
    perspective-origin: $translateOrigin;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#back-layer1 {
    background: url('assets/starTile.png') repeat, nth($color-stops, 1); // fallback
	background: url('assets/starTile.png') repeat, -webkit-linear-gradient(left, $color-stops);
  	background: url('assets/starTile.png') repeat, -moz-linear-gradient(left, $color-stops);
  	background: url('assets/starTile.png') repeat, -o-linear-gradient(left, $color-stops);
    background: url('assets/starTile.png') repeat, linear-gradient(to right, $color-stops);
    background-size: contain;
}

#parallex {
    height: 100vh;
    transform: translateZ(-3px) scale(4);
    transform-origin: $translateOrigin;
    // width: calc(165vh + 1050px);
    // @include breakpoint(large) {width: calc(165vh + 1050px);}
    // @include breakpoint(small) {width: calc(163vh + 1300px);}
    // @include breakpoint(xsmall) {width: calc(650vh + 1400px);};
    // @include breakpoint(xxsmall) {width: calc(650vh + 625px);};
    // background: url('assets/parallax\(FILLER\).png');
    // background-size: cover;
    display: inline-flex;
    overflow: hidden;
}

#contentContainer {
    display: inline-flex;
    height: 95vh;
    position: absolute;
    max-height: 1000px;
}

p {
    font-family: Poppins-Light, sans-serif;
    font-size: 18px;
    line-height: 22px;
    @include breakpoint(medium) {
        font-size: 16px;
        line-height: 20px;}
    @include breakpoint(small) {
        font-size: 15px;
        line-height: 17px;}
    @include breakpoint(xsmall) {
        font-size: 4vh;
    }
    @include breakpoint(xxsmall) {
        font-size: 3.5vh;
    }
    color: $whiteText;
}

/////////// LANDING SECTION

#landing {
    height: 100vh;
    max-height: 1000px;
    width: 220vh;
    max-width: 2200px;
    display: inline-flex;
    div {
        height: 100%;
    }
}

#animation {
    width: 50%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

#event-title {
    width: 37%;
    max-width: 100vw;
    padding-top: 15vh;
    height: 85vh;
    img {
        margin-bottom: 16px;
    }

}

#rocket {
    width: 15%;
    max-width: 250px;
    display: flex;
    align-items: flex-end;
}

#title-container {
    height: 80%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

///////////// LOGOS
#freetail-logo {
    img {
        height: 20vh;
        max-height: 120px;
        width: auto;
    }
    position: absolute;
    left: 1vw;
    top: 1vh;
}

#pinnacle-banner {
    position: fixed;
    left: 1vw;
    bottom: 1vh;
    z-index: 10000;
    img {
        height: 60px;
        width: auto;
    }
}

//////////// SCHEDULE
#schedule {
    display: inline-flex;
    height: 100%;
    margin-right: 400px;
    @include breakpoint(small) {margin-right: 200px;}
}

.schedule-day {
    width: 85vh;
    @include breakpoint(small) {width: 100vh;};
    img {
        width: 100%;
    }
}

.bottom-day {
    display: flex;
    align-items: flex-end;
}

/////////// BLURBS SECTION
#blurbs {
    display: inline-flex;
}

.blurb-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    @include breakpoint(small) {justify-content: center;}
}

.blurb-text {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    background-color: #1c4862;
    border-radius: 50px;
    padding: 32px 32px 8px 24px;
    @include shadow(0.2);
    div {
        height: 90px;
        @include breakpoint(medium) {height: 70px;};
        @include breakpoint(small) {height: 60px;};
        @include breakpoint(xsmall) {height: 48px;};
        img {
            height: 100%;
        }
    }
}

.bottom-blurb {
    justify-content: flex-end;
    @include breakpoint(small) {justify-content: center;};
}

.illustration {
    @include breakpoint(xsmall) {display: none;}
    flex: 1 1 auto;
}

#blurb-1 {
    width: 400px;
    .illustration {
        background-image: url('assets/illustration_2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

#post {
    height: 110vh;
    width: 42.7vh;
    margin-top: -10vh;
    background-image: url('assets/WantedPosterFINAL.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#blurb-2 {
    width: 425px;
}

#blurb-3 {
    width: 475px;
    @include breakpoint(large) {width: 575px;}
    @include breakpoint(medium) {width: 525px;}
    .blurb-text {
        div {
            height: 135px;
            @include breakpoint(medium) {height: 105px;};
            @include breakpoint(small) {height: 90px;};
            @include breakpoint(xsmall) {height: 72px;};
        }
    }
    .illustration {
        background-image: url('assets/illustration_3.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translateY(5vh);
    }
}

.link {
    color: $whiteText;
    &:hover {
        color: $blueText;
    }
}

#blurb-4 {
    width: 425px;
    .blurb-text {
        div {
            height: 45px;
            @include breakpoint(medium) {height: 35px;};
            @include breakpoint(small) {height: 30px;};
            @include breakpoint(xsmall) {height: 24px;};
        }
    }
    .illustration {
        background-image: url('assets/illustration_1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

////////// FAQ SECTION
#faq {
    display: flex;
    flex-direction: column;
    margin: 0 400px;
    @include breakpoint(small) {margin: 0 200px;};
    background-color: #0a2135;
    border-radius: 50px;
    @include shadow(1);
    padding: 16px 32px;
}

#faq-header {
    height: 100px;
    @include breakpoint(small) { height: 75px; }
    @include breakpoint(xsmall) {height: 60px;}
    width: 100%;
    img {
        display: block;
        margin: 0 auto;
    }
}

#questions-container {
    height: calc(100% - 132px);
    margin-top: 32px;
    @include breakpoint(xsmall) {
        height: calc(100% - 91px);
        margin-top: 16px;
    }
    display: flex;
    p {
        text-align: justify;
        margin: 0;
        width: 350px;
        margin: 8px 16px;
        width: fit-content;
    }

    .answer {
        display: none;
        margin-bottom: 16px;
    }
    
    .last-answer {
        margin-bottom: 0;
    }

    .question {
        color: $blueText;
        line-height: 22px;
        margin-top: 5vh;
        font-size: 20px;
        @include breakpoint(medium) {line-height: 16px;};
        @include breakpoint(small) {font-size: 18px; line-height: 20px;};
        @include breakpoint(xsmall) {font-size: 16px; line-height: 16px; margin-top: 3vh;};
        &:hover {
            transform: scale(1.05);
        }
    }
}

.q-column {
    width: 400px;
    margin: 0 32px;
    overflow-y: scroll;
}

// .right-justify {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
// }



////////// SPONSORS SECTION
#sponsors {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        height: 30%;
        width: 100%;
    } 
    img {
        height: 70%;
        display: block;
        margin: auto;
    }
}