@font-face {
  font-family: 'Poppins-Light';
  src: url("fonts/Poppins-Regular.ttf") format("truetype"); }

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-height: 215px;
  overflow-x: auto;
  overflow-y: hidden; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.stretch-bg {
  height: 100%;
  width: calc(660vh + 4400px);
  max-width: calc(440vh + 6400px);
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-height: 575px) {
    .stretch-bg {
      width: calc(660vh + 4000px); } }

#superContentContainer {
  width: 100vw;
  height: 100vh;
  min-height: 215px;
  perspective: 1px;
  perspective-origin: 0px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#back-layer1 {
  background: url("assets/starTile.png") repeat, #0b2135;
  background: url("assets/starTile.png") repeat, -webkit-linear-gradient(left, #0b2135, #0f3857);
  background: url("assets/starTile.png") repeat, -moz-linear-gradient(left, #0b2135, #0f3857);
  background: url("assets/starTile.png") repeat, -o-linear-gradient(left, #0b2135, #0f3857);
  background: url("assets/starTile.png") repeat, linear-gradient(to right, #0b2135, #0f3857);
  background-size: contain; }

#parallex {
  display: inline-flex;
  overflow: hidden; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    #parallex {
      transform: translateZ(-3px) scale(4);
      transform-origin: 0px 0px;
      -moz-transform: none;
      -moz-transform-origin: none; } }
  @supports (-ms-ime-align: auto) {
    #parallex {
      transform: translateZ(-3px) scale(4);
      transform-origin: 0px 0px; } }
  @media only screen and (max-height: 485px) {
    #parallex {
      display: none; } }

#contentContainer {
  display: inline-flex;
  height: 95%;
  position: absolute;
  max-height: 1000px; }

p {
  font-family: Poppins-Light, sans-serif;
  font-size: 18px;
  color: #f6f4d9; }
  @media only screen and (max-height: 685px) {
    p {
      font-size: 16px; } }
  @media only screen and (max-height: 575px) {
    p {
      font-size: 15px; } }
  @media only screen and (max-height: 485px) {
    p {
      font-size: 12px; } }
  @media only screen and (max-height: 350px) {
    p {
      font-size: 10px; } }

#landing {
  height: 100vh;
  max-height: 1000px;
  width: 220vh;
  max-width: 2200px;
  display: inline-flex; }
  #landing div {
    height: 100%; }

#animation {
  width: 50%;
  height: 46.582%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  background-image: url("assets/spacecowboy.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #animation {
      background-image: url("assets/spacecowboy.png"); } }
  @media only screen and (max-height: 350px) {
    #animation {
      background-image: url("assets/spacecowboy.png"); } }

#event-title {
  width: 37%;
  max-width: 100vw;
  padding-top: 15vh;
  height: 85vh; }
  #event-title img {
    margin-bottom: 16px; }

#rocket {
  width: 15%;
  max-width: 250px;
  display: flex;
  align-items: flex-end; }

#title-container {
  height: 80%;
  max-height: 500px;
  display: flex;
  flex-direction: column; }

#freetail-logo {
  position: absolute;
  left: 1vw;
  top: 1vh; }
  #freetail-logo img {
    height: 20vh;
    max-height: 120px;
    width: auto; }

#pinnacle-banner {
  position: fixed;
  left: 1vw;
  bottom: 1vh;
  z-index: 10000; }
  #pinnacle-banner img {
    height: 60px;
    width: auto; }

#schedule {
  display: inline-flex;
  height: 100%;
  margin-right: 400px; }
  @media only screen and (max-height: 575px) {
    #schedule {
      margin-right: 200px; } }

.schedule-day {
  width: 85vh;
  height: 100%; }
  @media only screen and (max-height: 575px) {
    .schedule-day {
      width: 100vh; } }

.bottom-day {
  display: flex;
  align-items: flex-end; }

#friday {
  background-image: url("assets/Friday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#saturday {
  background-image: url("assets/Saturday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#sunday {
  background-image: url("assets/Sunday.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#blurbs {
  display: inline-flex; }

.blurb-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 32px; }
  @media only screen and (max-height: 575px) {
    .blurb-container {
      justify-content: center; } }

.blurb-text {
  max-width: 95vw;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  background-color: #1c4862;
  border-radius: 50px;
  padding: 32px 32px 8px 24px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .blurb-text div {
    height: 90px; }
    @media only screen and (max-height: 685px) {
      .blurb-text div {
        height: 70px; } }
    @media only screen and (max-height: 575px) {
      .blurb-text div {
        height: 60px; } }
    @media only screen and (max-height: 485px) {
      .blurb-text div {
        height: 48px; } }
    @media only screen and (max-height: 350px) {
      .blurb-text div {
        height: 32px; } }
    .blurb-text div img {
      height: 100%; }

.bottom-blurb {
  justify-content: flex-end; }
  @media only screen and (max-height: 575px) {
    .bottom-blurb {
      justify-content: center; } }

.illustration {
  display: flex;
  flex: 1 1 auto; }
  @media only screen and (max-height: 485px) {
    .illustration {
      display: none; } }

#blurb-1 {
  width: 400px; }
  #blurb-1 .illustration {
    flex-direction: column;
    justify-content: center; }
    #blurb-1 .illustration div {
      height: 95%;
      width: 100%;
      background-image: url("assets/Illustration_2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

#post {
  height: 110vh;
  width: 42.7vh;
  margin-top: -10vh;
  background-image: url("assets/WantedPosterFINAL.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

#blurb-2 {
  width: 425px; }

#blurb-3 {
  width: 475px; }
  @media only screen and (max-height: 833px) {
    #blurb-3 {
      width: 575px; } }
  #blurb-3 .blurb-text div {
    height: 135px; }
    @media only screen and (max-height: 685px) {
      #blurb-3 .blurb-text div {
        height: 105px; } }
    @media only screen and (max-height: 575px) {
      #blurb-3 .blurb-text div {
        height: 90px; } }
    @media only screen and (max-height: 485px) {
      #blurb-3 .blurb-text div {
        height: 72px; } }
    @media only screen and (max-height: 350px) {
      #blurb-3 .blurb-text div {
        height: 48px; } }
  #blurb-3 .illustration {
    background-image: url("assets/Illustration_3.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transform: scale(1.05) translateY(5vh); }

.link {
  color: #f6f4d9; }
  .link:hover {
    color: #a6f4e4;
    cursor: pointer; }

#blurb-4 {
  width: 425px; }
  #blurb-4 .blurb-text div {
    height: 45px; }
    @media only screen and (max-height: 685px) {
      #blurb-4 .blurb-text div {
        height: 35px; } }
    @media only screen and (max-height: 575px) {
      #blurb-4 .blurb-text div {
        height: 30px; } }
    @media only screen and (max-height: 485px) {
      #blurb-4 .blurb-text div {
        height: 24px; } }
    @media only screen and (max-height: 350px) {
      #blurb-4 .blurb-text div {
        height: 16px; } }
  #blurb-4 .illustration {
    flex-direction: column;
    justify-content: center; }
    #blurb-4 .illustration div {
      height: 95%;
      width: 100%;
      background-image: url("assets/Illustration_1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

#faq {
  display: flex;
  flex-direction: column;
  margin: 0 400px;
  background-color: #0a2135;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 3px 3px black;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px black;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 16px 32px; }
  @media only screen and (max-height: 575px) {
    #faq {
      margin: 0 200px; } }
  @media only screen and (max-height: 485px) {
    #faq {
      padding: 16px 16px; } }

#faq-header {
  height: 100px;
  width: 100%; }
  @media only screen and (max-height: 575px) {
    #faq-header {
      height: 75px; } }
  @media only screen and (max-height: 485px) {
    #faq-header {
      height: 60px; } }
  @media only screen and (max-height: 350px) {
    #faq-header {
      height: 45px; } }
  #faq-header img {
    display: block;
    margin: 0 auto; }

#questions-container {
  height: calc(100% - 132px);
  margin-top: 32px;
  display: flex; }
  @media only screen and (max-height: 485px) {
    #questions-container {
      height: calc(100% - 91px);
      margin-top: 16px; } }
  @media only screen and (max-height: 485px) {
    #questions-container {
      height: calc(100% - 61px); } }
  #questions-container p {
    text-align: justify;
    margin: 0;
    width: 350px;
    max-width: 95vw;
    margin: 8px 16px;
    width: fit-content; }
  #questions-container .answer {
    display: none;
    margin-bottom: 16px; }
  #questions-container .last-answer {
    margin-bottom: 0; }
  #questions-container .question {
    color: #a6f4e4;
    line-height: 22px;
    margin-top: 5vh;
    font-size: 20px; }
    @media only screen and (max-height: 685px) {
      #questions-container .question {
        line-height: 16px; } }
    @media only screen and (max-height: 575px) {
      #questions-container .question {
        font-size: 18px;
        line-height: 20px; } }
    @media only screen and (max-height: 485px) {
      #questions-container .question {
        font-size: 16px;
        line-height: 16px;
        margin-top: 3vh; } }
    @media only screen and (max-height: 350px) {
      #questions-container .question {
        font-size: 12px;
        margin-top: 2vh; } }
    #questions-container .question:hover {
      transform: scale(1.05);
      cursor: pointer; }

.q-column {
  width: 400px;
  margin: 0 32px;
  overflow-y: scroll; }

#sponsors {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #sponsors div {
    height: 30%;
    width: 100%; }
    #sponsors div img {
      margin: 0 auto;
      display: block; }

#gif-sponsors, #static-sponsors {
  height: 70%;
  margin: auto; }

#gif-sponsors {
  display: block; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #gif-sponsors {
      display: none; } }
  @media only screen and (max-height: 350px) {
    #gif-sponsors {
      display: none; } }

#static-sponsors {
  display: none; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    #static-sponsors {
      display: block; } }
  @media only screen and (max-height: 350px) {
    #static-sponsors {
      display: block; } }
